IWKZ_API_URL=
STRAPI_API_TOKEN=
NEXT_PUBLIC_JADWAL_SHALAT_RAMADAN_URL=

# Google Drive cache for jadwal-shalat PDF generation
CACHE_FOLDER_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_KEY=
